{% load i18n %}
{% translate "Hi There" as greeting %}
{% translate "Your current language is" as current_lang %}
{% translate "Your language has been successfully changed." as main_index %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ main_index }}</title>
</head>
<body>
    <h2 align="center">{{ greeting }} {{ username }} !</h2>

    <h3 align="center">{% translate "I am localized inside the template." %}</h3>
    <h3 align="center">{{ current_lang }} - {{ lang }}</h3>
</body>
</html>